body {
    background: black;
}

/*BANNER*/
nav {
    color: green;
    background: white;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
    width: 100%;
    font-family: 'Titan One', sans-serif;
    font-size: 65px;
    text-shadow: 3px 3px #FF0000;
}