body {
    background: black;
}

/*BANNER*/
nav {
    color: green;
    background: white;
    width: 100%;
    text-align: center;
    height: 200px;
    background-image: url("../assets/images/buildings_img.webp");
}

h1 {
    width: 100%;
    font-family: 'Titan One', sans-serif;
    font-size: 65px;
    text-shadow: 3px 3px #FF0000;
    padding-top: 61px;
    margin: 0;
}